






body {
    min-height: 100vh;
}

#card-container {
    min-width: 80vh;
    min-height: 95vh;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
    width: 200px;
    height: 250px;
    background-color: antiquewhite;
    border-radius: 10px;
}

#add-btn-card {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}