@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



button {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    border-radius: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1 {
    font-size: 30px;
}

#clear-btn {
    width: 225px;
    background-color: #A4A5A4;
    color: black;
}

#large-display {
    text-align: right;
    padding-right: 10px;
    font-size: 32px;
    color: white;
}

#upper-display {
    text-align: right;
    padding-right: 10px;
    color: white;
}

.operator-btns {
    background-color: #F28B0C;
    color: white;
}

.num-btns {
    background-color: #333333;
    color: white;
}