@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFAF0;
  opacity: 0.9;
  background-image:  radial-gradient(#505050 0.75px, transparent 0.75px), radial-gradient(#505050 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0,15px 15px;
  margin-top: 30px;
  margin-right: 9px;
  margin-left: 9px;
}

button, input {
  font-family: 'Josefin Sans', sans-serif;
}

#card-container {
  margin-top: 10px;
  border-radius: 30px;
  width: 90vw;
  min-height: 80vh;
  background-color: transparent;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.card {
  /* width: 320px; */
  height: 170px;
  border: 1px #1E1E1E solid;
  background-color: #FFFAF0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  overflow: hidden;
}

#add-btn-card {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.poster {
  width: 140px;
  height: 100%;
  /* border: 2px #1E1E1E solid; */
}

form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: #FFFAF0;
  border-radius: 8px;
  padding: 10px;
  border: 1px #1E1E1E solid;
}
label {
  color: black;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.none {
  display: none;
}
h4, p {
  color: Black;
  margin: 0;
}
.flex {
  display: flex;
  align-items: center;
}

.left-section {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 90%;
  padding-top: 10px;
  padding-left: 10px;
}
.author {
  color: #505050;
}
.pages-text {
  color: #505050;
  margin-bottom: 12px;
  align-self: end;
}
.pages-number {
  font-size: 48px;
  font-family: 'Lato', sans-serif;
}
.tittle {
  font-size: 22px;
}
.author-tittle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.category-container {
  margin-top: 10px;
  margin-left: 9px;
  gap: 10px;
  flex-wrap: wrap;
}
.category-container button {
  border: 1px #1E1E1E solid;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  font-weight: bold;
}
.btn-1 {
  background-color: #FFA776;
}
.btn-2 {
  background-color: #FFD787;
}
.btn-3 {
  background-color: #FFA89A;
}
.btn-4 {
  background-color: #ABE5BC;
}
.btn-5 {
  background-color: #CFADE8;
}
.btn-6 {
  background-color: #e5abab;
  width: 200px !important;
}
h1 {
  margin-top: 5px;
  margin-bottom: 0;
}
.hey-user {
  font-size: larger;
}
.user-picture {
  border: 1px #1E1E1E solid;
  border-radius: 50%;
  width: 50px;
}
.user-header {
  gap: 90px;
  align-items: center;
  margin-bottom: 20px;
}
.header-section {
  gap: 90px;
  align-items: center;
  margin-left: 9px;
}
.search-bar {
  margin-bottom: 20px;
  border: 1px #1E1E1E solid;
  border-radius: 10px;
  width: 212px;
  height: 40px;
  margin-right: 9px;
}
input::placeholder {
  padding-left: 5px;
}
form input {
  border-radius: 10px;
  border: 1px #1E1E1E solid;
  height: 30px;
  width: 300px;
}
.submit-btn {
  border: 1px #1E1E1E solid;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #CFADE8;
}
.close-btn {
  border: 1px #1E1E1E solid;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #FFA776;
  margin-left: 10px;
}
#read-status {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width:715px) {
  #card-container {
    width: 99vw;
  }
}
@media screen and (max-width:563px) {
  .header-section {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    
  }
}
@media screen and (max-width:520px) {
  form {
    width: 80vw;
    height: 350px;
  }
  form input {
    width: 90%;
  }
}
@media screen and (max-width:420px) {
  .search-bar {
    width: 99vw;
  }
  .user-header {
    width: 99vw;
    justify-content: space-between;
  }
}